.movieCard{
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
}
.movieCard:hover{
    opacity: 0.8;
}

.movieImage{
     border-radius: 10px;
     background-color: azure;
     width: 230px;
     height: 345px;
     box-shadow: 5px 3px 15px rgba(146, 145, 145, 0.548);
}
.text{
    text-align: center;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073,
    0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;}

@media (max-width: 560px){
  .movieImage {  
      width: 100%;
      height: auto;
   }
}